/*
Title: SkalezGames

Version: 2.0

Date: Oct 31, 2014
*/

/* CSS for Login page */


body{
	background-color: #12007E;
	background-size: 100%;
}

#loginSetup {
			display: table;
			list-style-type: none;
			margin: 10% auto;
			background-color: white;
}	
		
#left-col {
			float:left;
			width: 450px;
			font-family: Tahoma, sans-serif;
			font-size: 16px;
			padding-left: 1em;
			padding-top: 5em
}
		
#left-col p {
			width: 400px
}
		
button {
	width: 85%;
	padding: 11px 20px;
	font-size: 16px;
	display: block;
	border: none;
	color: white
}
		
button img {
		padding-right: 5px;
}
		
#facebook {
		background-color: #3b5897;
}
		
#twitter {
	background-color: #00b0eb;
}
		
#google {
	background-color: #bd0000
}
		
#right-col {
			float: right;
			font-family: Tahoma, sans-serif;
			font-size: 16px;
			left: 700px;
			padding-left: 2em;
			padding-right: 1em;
			padding-top: 5em
}
		
		#help {
			margin-bottom: 0;
			font-size: 12px;
			color:#e03800;
			padding-top: 5px;
			line-height: 18px
		}
		
		#submitButton {
			float: right;
			padding: 9px 16px;
			min-width: 88px;
			margin-bottom: 10px;
			font-size: 14px
		}
		
		span {
			color: #e03800;
		}
		
		#username, #password{
			width: 95%;
			padding: 0.5em;
			margin-bottom: 9px;
		}
		
		label {
			color: #666;
			line-height: 25px
		}
		
		#keeplogin label {
			color: #666;
			line-height: 25px
		}	
		
		#create {
			clear: both;
			padding-top: 3em;
			text-align: center;
			font-family: Tahoma, sans-serif;
			font-size: 14px;
		}
		
		#create a:link {
			text-decoration: none;
		}