.ext-el-mask-msg {
  z-index:20001;
  position:absolute;
  top:0;
  left:0;
  border:1px solid #B1D578;
  background:#ffffff url(/system/Components/ext-2/resources/images/default/s.gif) repeat-x 0 -16px;
  padding:2px;
}
.ext-el-mask-msg div {
  padding:5px 10px 5px 10px;
  background:#eee;
  border:1px solid #B7DB93;
  color:#222;
  font:normal 11px tahoma,arial,helvetica,sans-serif;
  cursor:wait;
}
.x-tab-panel-body {
  background:transparent none repeat scroll 0 0;
}

.x-tool-save {
  background-image:url(/system/images/ext/olive/home.gif);
  background-position:0px 0px;
}
.x-tool-save-over {
  background-image:url(/system/images/ext/olive/home.gif);
  background-position:-15px 0px;
}
.x-window-plain .x-window-mc {
  border-style:solid;
  color:#000000;
}
.x-panel-body {
  background-color:transparent;
}
.x-item-disabled {
  color:#000000;
  opacity:0.8;  
}