<!--SKALEZGAMES PRODUCTS TEMPLATE-->

<div>
	<table class="bordered" id="tproducts">
		<caption>Games</caption>
		<thead>
			<tr>
				<th colspan='2'>Product ID</th>
				<th>Title</th>
				<th>Platform</th>
				<th>Language</th>
				<th>Developer</th>
				<th>Publisher</th>
				<th>Rating</th>
				<th>Genre</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
		{{#rows}}
			<tr class="centre">
				<td><img src="img/{{product_id}}.jpg" width="77" height="110" alt="{{name}}" title="{{name}}" /></td>			
				<td>{{product_id}}</td>				
				<td class="bold">{{title}}</td>
				<td>{{platform}}</td>
				<td>{{language}}</td>
				<td>{{developer}}</td>
				<td>{{publisher}}</td>
				<td>{{rating}}</td>
				<td>{{genre}}</td>
				<td class="bold">{{price}}</td>
			</tr>
		{{/rows}}
		</tbody>
	</table>
</div>
