.ContextMenu {
position: absolute;
top: 0;    
display: none;     
width: 140px; 
background-color: #FFF; 
border: 1px solid #8A867A;
padding: 5px;
background-image: url('images/contextmargin.gif');
background-repeat: repeat-y;
z-index: 10000;
}

.ContextMenu ul, .ContextMenu li {   
margin: -1px;
padding: 0px;
font-family: Arial, Verdana;
font-size: 8pt;
list-style: none;         
}

.ContextMenu li {
cursor: pointer;
text-decoration: none;
color: #000;
}

.ContextMenu img {
vertical-align: middle;
padding-right: 5px;
padding-bottom: 2px;
border: 0px;
}

table {
font-family: Verdana;
}

.SaveButton {
width: 100px; 
font-size: 9pt; 
height: 22px; 
float: right; 
margin-bottom: 20px; 
margin-top: 6px;
}

.head 
{
   background-color: #D4D0C8; 
   height: 17px; 
   color: #9B999B; 
   font-weight: bold; 
   font-size: 8pt; 
   padding-left: 4px;
   border-top: 1px solid #CCC;
   background-image: url('images/headingbg17px-gray.gif');   
}

.head-sel 
{
   background-image: url('images/headingbg17px.gif');
   background-color: #318EFF; 
   border-top: 1px solid #2E87D7;   
   height: 17px; color: #FFF; 
   font-weight: bold; 
   font-size: 8pt; 
   padding-left: 4px; 
}