body {
text-align: center;
padding-top: 30px;
background-color: #F9F8F8;
font-size: 8pt;
font-family: Verdana, Arial;
height: 100%;
}
  
.login {
width: 394px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
border: 1px solid #CCC;
text-align: center;
height: 200px; 
text-align: left;
}

.row {
height: 25px;
}
  
.field {
color: #646464;
width: 30%;
float: left;
}

.blurb {
margin-bottom: 10px;
margin-top: 3px;
margin-left: 10px;
}

input {
font-size: 8pt;
width: 60%;
float: left;
}

.loginbtn {
width: 100px; 
float: right; 
height: 25px;
margin-top: 2px;
margin-right: 20px;
margin-bottom: 3px;
}