body, html
{
	margin: 0px;
	padding: 0px;
	background-color: #eeeeee;
	font-family: Verdana, Arial;	
}

#Header
{
	height: 52px;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
	background-image: url( 'images/headerbg.gif' );
	background-position: top right;
	background-repeat: no-repeat;
	vertical-align: top;
	padding-right: 10px;
}

#Header .logo
{
	float: left;
}

#Header .logout a
{
	float: right;
	margin-top: 5px;
	color: #FFF;
	font-size: 8pt;
	text-decoration: none;
}

#Header .version
{
	float: right;
	margin-top: 10px;
	color: #146595;
	font-size: 7.5pt;
	clear: right;	
}

a img
{
	border: 0px;
}

.ExplorerTab
{	
	white-space: nowrap;
	font-size: 9pt;	
}

.ExplorerToolbar
{
	background-color: ButtonFace;
	border-top: 2px solid #378FFD;
}

.toolbar
{
	padding-right: 3px;
	background-color: #ECE9D8;
	text-align: right;
	padding-top: 5px;
	clear: both;
	white-space: nowrap;
}

.toolbar img
{
	margin-left: 3px;
}

.active-tab 
{
	position: relative;
	top: 2px;
	height: 24px;
	margin: 0px; 
	padding:0px;
}

.active-tab .left
{
	white-space: nowrap;
	background-image: url('tabs/top/with_bg/a_left.gif');
	background-repeat: no-repeat;
	width: 6px;	
}

.active-tab .right
{	
	white-space: nowrap;
	background-image: url('tabs/top/with_bg/a_right_skos.gif');
	background-repeat: no-repeat;
	width: 34px;
}

.active-tab .text
{	
	white-space: nowrap;
	background-image: url('tabs/top/with_bg/a_middle.gif');
	background-repeat: repeat-x;
	font-size: 8pt;
	color: #FFF;
	font-family: Arial;
	padding: 3px 0px 0px 0px;	
	vertical-align: top;
}

.active-tab .text img
{
	position: relative;
	left: 3px;
	top: 3px;
	margin-right: 8px;
}

.dhx_tabcontent_zone
{
	border: 2px solid #378FFD;

}


/* ------------------------------------------------------------------------------ */

.DockBorders {
    border-right: 2px solid #378ffd;
}

.DockFooter {
    border-top: 2px solid #378ffd;
    height: 2px;
}   

.TreeContainer {
    background-color: #FFF;
}



#Tabstrip {
    position: absolute;
}

#Pin {
	float: right;
	padding: 5px;
}
