P {
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

BODY {
    BORDER-RIGHT: black;
    BORDER-TOP: black;
    MARGIN-TOP: 5pt;
    FONT-SIZE: 11px;
    MARGIN-LEFT: 5pt;
    BORDER-LEFT: black;
    BORDER-BOTTOM: black;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff
}
.buildup {
    BORDER-RIGHT: #ffffff 0px;
    BORDER-TOP: #ffffff 0px;
    MARGIN: 0px;
    BORDER-LEFT: #ffffff 0px;
    COLOR: black;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana
}
.small {
    FONT-SIZE: 10px;
    FLOAT: left;
    TEXT-TRANSFORM: none;
    COLOR: #666699;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: Tahoma;
    FONT-VARIANT: normal
}
.foot {
    MARGIN-TOP: 0pt;
    FONT-SIZE: 8px;
    MARGIN-LEFT: 0pt;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
H1 {
    FONT-WEIGHT: bold;
    FONT-SIZE: medium;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
    FONT-WEIGHT: bold;
    FONT-SIZE: medium;
    COLOR: #800000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
    MARGIN-TOP: 0em;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: gray;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f0fbff
}
.d0 {
}
.d1 {
    BORDER-TOP: 0px;
    BACKGROUND-COLOR: #fdfdff
}
SELECT {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana
}
OPTION {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana
}
INPUT {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana
}
TEXTAREA {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana
}
P A {
    BORDER-RIGHT: #e8ebee thin inset;
    PADDING-RIGHT: 2px;
    BORDER-TOP: thin inset;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #e8ebee thin inset;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #e8ebee thin inset;
    BACKGROUND-COLOR: #ededed;
    TEXT-DECORATION: none
}
P A:link {
    COLOR: #666666
}
P A:visited {
}
P A:hover {
    BACKGROUND-COLOR: #f9f9f9
}
.button {
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Helvetica, Arial, San-Serif
}
.leftmenu {
    BORDER-RIGHT: #111111 1px solid;
    BORDER-TOP: 0px solid;
    MARGIN: 0px;
    BORDER-LEFT: 0px solid;
    COLOR: black;
    BORDER-BOTTOM: 0px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #ffffff
}
.break {
}
.fieldLabel {
    FONT-SIZE: 8px
}
.ListDetail0 {
}
.ListDetail1 {
    BACKGROUND-COLOR: #cccccc
}
TR.aktiv TD {
    COLOR: #96a3b1
}
XMP {
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    MARGIN: 1px 1px 1px 20px;
    BORDER-LEFT: 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: #f5f6f9
}
TABLE {
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 11px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

oldTHEAD {
    BORDER-TOP: black thin solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: #96a3b1
}
THEAD {
    BORDER-RIGHT: silver 1px solid;
    BACKGROUND-POSITION: left bottom;
    BORDER-TOP: silver 1px solid;
    BACKGROUND-ATTACHMENT: scroll;
    BACKGROUND-IMAGE: url(/System/Images/tb.JPG);
    BORDER-LEFT: silver 1px solid;
    BORDER-BOTTOM: gray 0px;
    BACKGROUND-REPEAT: repeat-x
}
oldTH {
    BORDER-LEFT: medium none;
    BACKGROUND-COLOR: #cee3ef
}
TH {
    BORDER-RIGHT: #c8c8da 1px solid;
    BORDER-TOP: #c8c8da 1px solid;
    FONT-SIZE: 11px;
    BORDER-LEFT: #c8c8da 1px solid;
    COLOR: #646486;
    BORDER-BOTTOM: #c8c8da 1px solid;
    FONT-FAMILY: Verdana
}
TD {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #f5f6f9
}
.Report {
    FONT-SIZE: 12px;
    FLOAT: left;
    COLOR: #0a0a0a;
    LINE-HEIGHT: 10px;
    FONT-FAMILY: Courier New;
    WHITE-SPACE: pre;
    BACKGROUND-COLOR: #f5f6f9
}
.PostList
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-FAMILY: Courier New;
    WHITE-SPACE: pre;
    HEIGHT: 0px;
    BACKGROUND-COLOR: #e9eef8
}
.PostList .normal
{
    COLOR: #000000
}
.PostList .comment
{
    COLOR: gray
}
.PostList .html
{
    COLOR: seagreen
}
.PostList A
{
    TEXT-DECORATION: none
}
.PostList .Error
{
    COLOR: #ff0000;
    BACKGROUND-COLOR: #ffaaaa
}
.PostList .Warning
{
    COLOR: #505050;
    BACKGROUND-COLOR: #FCF9D4
}
.PostList .include
{
    COLOR: steelblue
}
.PostList .macro
{
    COLOR: #0000ff
}
.PostList PRE
{
    LINE-HEIGHT: normal;
    BACKGROUND-COLOR: #bacee8
}
.PostList CODE
{
    TEXT-ALIGN: left
}
.compileAccordion {
    margin: 1px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    position: relative;
    background-color:#8DAED0;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.compileContent {
}


A {
    TEXT-DECORATION: none
}
.list TD A
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
.list TD A:visited
{
    COLOR: #ff0000;
    TEXT-DECORATION: none
}
.list TD A:hover
{
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
.list .ListDetail0
{
}
.list .ListDetail1
{
    BACKGROUND-COLOR: #cccccc
}
.ErrMsg
{
    FONT-SIZE: 12px;
    COLOR: #ff0000
}
.ErrMsg2
{
    FONT-SIZE: 10px;
    COLOR: #aa8888
}
.apphdr
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#c6c5d7,endColorStr=#ffffff);
    PADDING-BOTTOM: 10px;
    WIDTH: 100%;
    PADDING-TOP: 10px;
    BACKGROUND-COLOR: #c6c5d7
}
.topmsg
{
    FONT-SIZE: 9px;
    VERTICAL-ALIGN: middle;
    TEXT-TRANSFORM: none;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #000000;
    FONT-VARIANT: normal
}
.topmsghand
{
    FONT-SIZE: 10px;
    VERTICAL-ALIGN: middle;
    TEXT-TRANSFORM: none;
    CURSOR: pointer;
    COLOR: #ffffff;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    POSITION: relative;
    TOP: 50%;
    BACKGROUND-COLOR: #000000;
    FONT-VARIANT: normal
}
A.link:link
{
    FONT-WEIGHT: bold;
    COLOR: #525f6e
}
A.link:visited
{
    FONT-WEIGHT: bold;
    COLOR: #a6afb6
}
A.link:hover
{
    FONT-WEIGHT: bold;
    COLOR: #999999;
    TEXT-DECORATION: underline
}
ERRMSG
{
    COLOR: aqua;
    BACKGROUND-COLOR: transparent
}
TD.ErrorText
{
    COLOR: red;
    BACKGROUND-COLOR: transparent
}
INPUT.PROTECT
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM-STYLE: none
}
INPUT.NUM
{
    TEXT-ALIGN: right
}
.hgrad
{
    BACKGROUND-ATTACHMENT: fixed;
    BACKGROUND-IMAGE: url(/System/Images/hgrad.JPG);
    BACKGROUND-REPEAT: no-repeat
}
TD.blank
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: #ffffff
}
