.smd-body {
  margin:0;
  padding:0;
  border:0 none;
  height:100%;
  background:#ffffff;
}
.smd-form-field-readonly {
  border:none;
  background-color:transparent;
  background-image:none;
}
.smd-form-field-readonly-small {
  border:none;
  background-color:transparent;
  background-image:none;
  font-family:arial,tahoma,helvetica,sans-serif;
  font-size:11px;
  font-size-adjust: none;
  font-style:normal;
  font-variant:normal;
  line-height:13px;
  white-space:nowrap;
}
.smd-toolbar-header {
  border-bottom:solid 1px black; 
  height:19px;
}
.smd-toolbar-header-text {
  margin-top:6px;
  margin-left:5px;
  font-weight:bold;
}
.smd-loading-indicator {
    background-image:url(/system/images/mnu-ext-gray/grid/loading.gif);
    background-repeat:no-repeat;
    background-position:5px 5px;
    border:1px solid #505050;
    padding-left:30px;
    line-height:25px;
    margin:3px;    
    text-align:left;
}
.smd-loading {
    position:absolute;
    left:35%;
    top:40%;
    padding:1px;
    background:#ffffff;
    border:1px solid #505050;
    color:#333;
    font:normal 12px tahoma,arial,helvetica,sans-serif;
    text-align:center;
    cursor:wait;    
}

.smd-default {
  font-weight:bold;
}