html,body {
	margin: 0;
	padding: 0;	
	overflow: hidden;
	font-family: Verdana, Arial;	
}

html,body {
	height: 100%;
	width: 100%
}

a img {
border: 0px;
}

div {	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#container {
    position: absolute;
	height: 100%;
    width: 100%;
    z-index: -1;
}

div#Interface {    
    width: 100%;
    height: 100%;       
}

div#Interface td {
    padding: 0px;
    margin: 0px;
    font-size: 8pt;
}

div#Interface #Header {    
    background-image: url('images/headerbg.gif');
    background-repeat: repeat-x;
    background-color: #FFF;
    vertical-align: top;
}

div#Interface #Header .logout a 
{
	float: right;
	margin-top: 5px;
	margin-right: 20px;
	color: #146595;	
	font-size: 8pt;
	text-decoration: none;
}

div#Interface #Dock 
{
	position: absolute;
	left: 0px;		
}

div#Interface #ExplorerHeader
{
	display: block;
}

div#Interface #ExplorerHeader #ExplorerToolbar
{
	clear: both;
    height: 29px; 
    border-right: 2px solid #146595;
    border-top: 2px solid #146595;
}

div#Interface #ExplorerHeader .toolbar {
    padding-right: 3px;
    background-color: #ECE9D8; 
    text-align: right; 
    padding-top: 5px;   
}

div#Interface #ExplorerHeader .toolbar img {
    margin-left: 3px;
}

div#Interface #ExplorerTree {    
    overflow: auto;
    border-right: 2px solid #146595;
    border-bottom: 2px solid #146595;    
}

div#Interface #Splitter {
    position: absolute;
    cursor:col-resize;
    background-color: #000;
}

div#Interface #Tabs {
   position: absolute;   
}

/* ---------------------------------------------------------- */
.active-tab {
   width: 150px;
   height: 22px;
   float: left;
   margin-left: -18px;
   white-space: nowrap;
}
.active-tab .left {
   float: left;
   background-image: url('tabs/top/with_bg/a_left.gif');
   background-repeat: no-repeat;
   width: 6px;
   height: 22px;   
}
.active-tab .right {
   float: left;
   background-image: url('tabs/top/with_bg/a_right_skos.gif');
   background-repeat: no-repeat;
   width: 34px;
   height: 22px;
}
.active-tab .text {
   float: left;
   background-image: url('tabs/top/with_bg/a_middle.gif');
   background-repeat: repeat-x;
   font-size: 8pt;
   color: #FFF;
   font-family: Arial;
   padding: 3px 0px 0px 0px;
   height: 22px;
   vertical-align: top;
}
.active-tab .text img {
   position: relative;
   left: 3px;
   top: 3px;
   margin-right: 8px;
}

/*-------------------------------------------------------------------- */
.dhx_tabbar_zone .dhx_tabcontent_zone
{
	border-left: 2px solid #146595;
	border-top: 2px solid #146595;
	border-bottom: 2px solid #146595;		
}
