DIV.gridbox {
	OVERFLOW: hidden
}
DIV.gridbox TABLE.hdr TD {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: white 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #d4d0c8; TEXT-ALIGN: center; -moz-user-select: none
}
DIV.gridbox TABLE.hdr TD DIV.hdrcell {
	OVERFLOW: hidden
}
DIV.gridbox TABLE.obj TD {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: white 1px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: white 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Arial; -moz-user-select: none
}
DIV.gridbox TABLE.obj TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.gridbox TABLE.row20px TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 20px
}
DIV.gridbox .objbox {
	BACKGROUND-COLOR: white
}
DIV.gridbox TABLE.obj TD SPAN.space {
	WIDTH: 18px
}
DIV.gridbox TABLE.obj TD IMG.space {
	WIDTH: 18px
}
DIV.gridbox TABLE.obj TR.rowselected TD.cellselected {
	COLOR: black; BACKGROUND-COLOR: #d8d8d8
}
DIV.gridbox TABLE.obj TD.cellselected {
	COLOR: black; BACKGROUND-COLOR: #d8d8d8
}
DIV.gridbox TABLE.obj TR.rowselected TD {
	COLOR: black; BACKGROUND-COLOR: #e1e0d7
}
DIV.gridbox TABLE.obj TD.editable {
	-moz-user-select: text
}
.dragSpanDiv {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: white
}
.dhx_combo_select {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-LEFT: black 1px solid; CURSOR: default; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: arial; POSITION: absolute; HEIGHT: auto; BACKGROUND-COLOR: white
}
.dhx_combo_edit {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px arial; OVERFLOW: hidden; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
.dhx_textarea {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: silver 1px solid; POSITION: absolute; HEIGHT: 100px
}
.dhx_clist {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: white
}
.gridDragLine {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; TOP: 10px; HEIGHT: 2px; BACKGROUND-COLOR: black
}
DIV.pagingBlock {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,arial
}
DIV.pagingBlock .pagingCurrentPage {
	FONT-WEIGHT: bold; CURSOR: default
}
DIV.pagingBlock .pagingPage {
	CURSOR: pointer; TEXT-DECORATION: underline
}
SPAN.recordsInfoBlock {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,arial
}
.toolbar_select {
	FONT-SIZE: 10px
}
.dhtmlxGrid_selection {
	BORDER-RIGHT: black 1px dotted; BORDER-TOP: black 1px dotted; FILTER: alpha(opacity = 50); BORDER-LEFT: black 1px dotted; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: yellow; -moz-opacity: 0.5; opacity: 0.5
}
DIV.gridbox_xp {
	BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: lightgrey 1px solid; BORDER-LEFT: lightgrey 1px solid; BORDER-BOTTOM: lightgrey 1px solid
}
DIV.gridbox_xp TABLE.hdr TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../imgs/header_bg_60.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; COLOR: #616161; PADDING-TOP: 5px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center; -moz-user-select: none
}
DIV.gridbox_xp TABLE.hdr TD DIV.hdrcell {
	BORDER-RIGHT: gray 1px solid; FONT-SIZE: 12px; BORDER-LEFT: white 1px solid; FONT-FAMILY: Arial; WHITE-SPACE: nowrap; HEIGHT: 16px
}
DIV.gridbox_xp TABLE.obj TD {
	BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: lightgrey 1px solid; FONT-FAMILY: Arial; -moz-user-select: none
}
DIV.gridbox_xp TABLE.obj TR.rowselected TD {
	COLOR: black; BACKGROUND-COLOR: whitesmoke
}
DIV.gridbox_xp TABLE.obj TR.rowselected TD.cellselected {
	BACKGROUND-COLOR: whitesmoke
}
DIV.gridbox TABLE.obj TD.cellselected {
	BACKGROUND-COLOR: whitesmoke
}
DIV.gridbox_xp TABLE.row20px TR TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
DIV.gridbox_gray {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #d4d0c8
}
DIV.gridbox_mt {
	BORDER-RIGHT: lightgrey 1px solid; BORDER-TOP: lightgrey 1px solid; BORDER-LEFT: lightgrey 1px solid; BORDER-BOTTOM: lightgrey 1px solid
}
DIV.gridbox_mt TABLE.hdr TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../imgs/header_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: lightgrey 1px solid; COLOR: #616161; PADDING-TOP: 0px; BORDER-BOTTOM: lightgrey 1px solid; -moz-user-select: none
}
DIV.gridbox_mt TABLE.hdr TD DIV.hdrcell {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; HEIGHT: 16px
}
DIV.gridbox_mt TABLE.obj TD {
	BORDER-RIGHT: lightgrey 0px solid; BORDER-TOP: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: lightgrey 1px solid; FONT-FAMILY: Verdana; -moz-user-select: none
}
DIV.gridbox_mt TABLE.obj TR.rowselected TD {
	COLOR: black; BACKGROUND-COLOR: #d6d3fa
}
DIV.gridbox_mt TABLE.obj TR.rowselected TD.cellselected {
	BACKGROUND-COLOR: #d6d3fa
}
DIV.gridbox TABLE.obj TD.cellselected {
	BACKGROUND-COLOR: #d6d3fa
}
DIV.gridbox_mt TABLE.row20px TR TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
DIV.gridbox DIV.ftr {
	PADDING-RIGHT: 20px; LEFT: 0px; OVERFLOW: hidden; WIDTH: 100%; BOTTOM: 1px; POSITION: absolute
}
DIV.gridbox DIV.ftr TD {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: arial; HEIGHT: 20px; BACKGROUND-COLOR: #ffffcc
}
DIV.gridbox TABLE.hdr TD.columnTargetR DIV.hdrcell {
	BORDER-RIGHT: #ff6600 3px double; BORDER-LEFT: #d4d0c8 3px solid
}
DIV.gridbox TABLE.hdr TD.columnTargetL DIV.hdrcell {
	BORDER-RIGHT: #d4d0c8 3px solid; BORDER-LEFT: #ff6600 3px double
}
.dhx_dragColDiv {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: white 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FILTER: alpha(opacity:75); PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: white 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px solid; FONT-FAMILY: Arial; BACKGROUND-COLOR: #d4d0c8; TEXT-ALIGN: center; -moz-opacity: 0.75; opacity: 0.75
}
