.defaultTreeTable
{
			margin : 0;
			padding : 0;
			border : 1px solid blue;		
			vertical-align: top;
}
.containerTableStyle { font-size : 11px; vertical-align: top;}
.standartTreeRow{	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 11px; -moz-user-select: none;}
.selectedTreeRow{ background-color : #316AC5; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 11px;  -moz-user-select: none; padding: 2px;  }
.standartTreeImage{ width:18px; height:18px;  overflow:hidden; border:0; padding:0; margin:0; }
.hiddenRow { width:1px;   overflow:hidden;  }
.dragSpanDiv{ 	font-size : 12px; 	border: thin solid 1 1 1 1; }