<!--
Title: SkalezGames
Version: 2.0
Date: Oct 31, 2014
-->

<!--SKALEZGAMES PRODUCTS TEMPLATE-->

<div>
	<table class="bordered" id="tproducts">
		<caption>Games</caption>
		<thead>
			<tr>
				<th>Product ID</th>
				<th>Title</th>
				<th>Platform</th>
				<th>Language</th>
				<th>Developer</th>
				<th>Publisher</th>
				<th>Rating</th>
				<th>Genre</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
		{{#rows}}
			<tr>			
				<td>{{PRODUCT_ID}}</td>				
				<td>{{TITLE}}</td>
				<td>{{PLATFORM}}</td>
				<td>{{GLANGUAGE}}</td>
				<td>{{DEVELOPER}}</td>
				<td>{{PUBLISHER}}</td>
				<td>{{RATING}}</td>
				<td>{{GENRE}}</td>
				<td id="price">{{formatCurrency PRICE}}</td>
			</tr>
		{{/rows}}
		</tbody>
	</table>
</div>
