<html>
<head>
<title>QR scanner codes</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body leftmargin=30 topmargin=30>
<script src="../jquery/jquery-1-7-1.js"></script>
<script type="text/javascript" src="jquery.qrcode.min.js"></script>
<script type="text/javascript" src="qrcode.js"></script>
<div id="qrcodeTable"></div>
<script>
  var p = window.location.search.indexOf("?"); //NL
  var s = window.location.search.substr(p+1);
	jQuery('#qrcodeTable').qrcode({
		render	: "table",
		text	: s
	});	
</script>
</body>
</html>
